@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, figure, div, span, p, a, input {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  width: 100%;
  height: 90px;
  background-color: #f1e3c4;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

header .menu {
  width: 1240px;
  margin: 0 auto;
}

header .menu > div {
  margin: 0 20px;
  position: relative;
}

header .submenu {
  color: #856f56;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 8px;
}

header .submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .submenu ul li:nth-of-type(1), header .submenu ul li:nth-of-type(2) {
  padding: 0 14px;
  position: relative;
}

header .submenu ul li:nth-of-type(1)::after, header .submenu ul li:nth-of-type(2)::after {
  content: '';
  height: 8px;
  border: 1px solid #856f56;
  opacity: 50%;
  position: absolute;
  right: 0;
  top: 4px;
}

header .submenu ul li:nth-of-type(3) {
  padding-left: 14px;
}

header .submenu ul li:nth-of-type(3) img {
  width: 11px;
  height: 11px;
  padding-left: 2px;
  margin-bottom: 2px;
}

header .submenu ul li:nth-of-type(4) {
  padding-left: 14px;
}

header .submenu ul li:nth-of-type(4) img:nth-of-type(1) {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

header .submenu ul li:nth-of-type(4) img:nth-of-type(2) {
  width: 11px;
  height: 11px;
  padding-left: 2px;
  margin-bottom: 2px;
}

header .mainmenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .mainmenu ul {
  color: #62523f;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .mainmenu ul li {
  margin-top: 46px;
  padding-bottom: 20px;
}

header .mainmenu h1 {
  position: absolute;
  top: 20px;
  left: calc(50% - 110px);
}

header .m-left > li {
  margin-right: 20px;
}

header .m-left > li:nth-of-type(1) {
  padding-right: 16px;
}

header .m-left > li:nth-of-type(1) img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

header .m-left > li:nth-of-type(2) img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

header .m-right > li {
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

header .m-right > li::after {
  content: '';
  width: 100%;
  border: 3px solid #3e2b2c;
  position: absolute;
  left: 0;
  bottom: -6px;
}

header .m-right > li:hover::after {
  bottom: 0;
}

header .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  display: none;
}

header .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #3e2b2c;
  position: absolute;
  left: 0;
  top: 50%;
}

header .trigger-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

header .trigger-menu span:nth-of-type(3) {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.f-1 {
  margin-top: 90px;
  background-color: #f1ebd6;
}

.f-1 > div {
  width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f12 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.f12::after {
  content: '';
  border: 1px solid #e3dec9;
  width: 100%;
  position: absolute;
  right: 0;
  top: 68px;
}

.f121 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f121 a:nth-of-type(1) h3 {
  margin-right: 40px;
  position: relative;
}

.f121 a:nth-of-type(1) h3::after {
  content: url("../img/f-12.png");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.f121 a:nth-of-type(1) h3:hover::after {
  opacity: 100;
}

.f121 a:nth-of-type(2) h3 {
  margin-right: 40px;
  position: relative;
}

.f121 a:nth-of-type(2) h3::after {
  content: url("../img/f-22.png");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.f121 a:nth-of-type(2) h3:hover::after {
  opacity: 100;
}

.f121 a:nth-of-type(3) h3 {
  margin-right: 40px;
  position: relative;
}

.f121 a:nth-of-type(3) h3::after {
  content: url("../img/f-32.png");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.f121 a:nth-of-type(3) h3:hover::after {
  opacity: 100;
}

.f122 {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 12px;
  color: #e3dec9;
}

.f122-1 {
  width: 324px;
  color: #4d4d4d;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.f122-1::after {
  content: '';
  border: 1px solid #e3dec9;
  height: 46px;
  position: absolute;
  right: -80px;
  top: 0;
}

.f122-1 p {
  width: 162px;
  text-align: left;
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f122-1 p span:nth-of-type(1) {
  width: 74px;
  text-align: left;
}

.f122-2 {
  position: relative;
}

.f122-2::after {
  content: '';
  border: 1px solid #e3dec9;
  height: 46px;
  position: absolute;
  right: -68px;
  top: 0;
}

.f122-2 p {
  margin: 4px 0;
}

.f122-2 p span {
  padding: 0 16px;
}

.f122-2 p:nth-of-type(1) {
  color: #736049;
}

.f122-2 p:nth-of-type(1) span:nth-of-type(1) {
  position: relative;
}

.f122-2 p:nth-of-type(1) span:nth-of-type(1)::after {
  content: '';
  height: 8px;
  border: 1px solid #856f56;
  opacity: 30%;
  position: absolute;
  right: 0px;
  top: 4px;
}

.f122-2 p:nth-of-type(1) span:nth-of-type(2) {
  position: relative;
}

.f122-2 p:nth-of-type(1) span:nth-of-type(2)::after {
  content: '';
  height: 8px;
  border: 1px solid #856f56;
  opacity: 30%;
  position: absolute;
  right: 0px;
  top: 4px;
}

.f122-2 p:nth-of-type(2) {
  color: #4d4d4d;
}

.f122-2 p:nth-of-type(2) span:nth-of-type(1) {
  position: relative;
}

.f122-2 p:nth-of-type(2) span:nth-of-type(1)::after {
  content: '';
  height: 8px;
  border: 1px solid #856f56;
  opacity: 30%;
  position: absolute;
  right: 0px;
  top: 4px;
}

.f122-3 {
  color: #736049;
}

.f122-3 p {
  margin: 4px 0;
}

.f122-3 > p:nth-of-type(2) img {
  width: 25px;
  height: 25px;
}

.f-2 {
  width: 1240px;
  height: 184px;
  margin: 0 auto;
  color: #adadad;
  font-size: 12px;
  position: relative;
}

.f-2::after {
  content: '';
  border: 1px solid #4d4d4d;
  opacity: 10%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 54px;
}

.f2-1 {
  height: 62px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f2-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f2-11 > p {
  margin-right: 32px;
}

.f2-11 > p:nth-of-type(1) {
  color: #4d4d4d;
  position: relative;
}

.f2-11 > p:nth-of-type(1)::after {
  content: '';
  height: 8px;
  border: 1px solid #d2c2a9;
  opacity: 50%;
  position: absolute;
  right: -16px;
  top: 4px;
}

.f2-11 > p:nth-of-type(2) {
  color: #736049;
  position: relative;
}

.f2-11 > p:nth-of-type(2)::after {
  content: '';
  height: 8px;
  border: 1px solid #d2c2a9;
  opacity: 50%;
  position: absolute;
  right: -16px;
  top: 4px;
}

.f2-11 > p:nth-of-type(3) {
  position: relative;
}

.f2-11 > p:nth-of-type(3)::after {
  content: '';
  height: 8px;
  border: 1px solid #d2c2a9;
  opacity: 50%;
  position: absolute;
  right: -16px;
  top: 4px;
}

.f2-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f2-12 > p {
  margin-left: 12px;
}

.f2-2 {
  margin-top: 20px;
  letter-spacing: .5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f2-2 p:nth-of-type(1) > span:nth-of-type(2) {
  width: 90px;
  height: 20px;
  margin-left: 4px;
  position: absolute;
}

.f2-2 p:nth-of-type(3) {
  font-weight: bold;
}

main {
  margin-top: 90px;
}

.main-banner {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
}

.main-banner > p {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  opacity: 100%;
}

.slide {
  width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: calc(50% - 600px);
  top: 40%;
}

.slide img {
  width: 24px;
  height: 37px;
}

.mb-text {
  width: 1220px;
  margin: 0 auto;
  color: white;
  position: absolute;
  left: calc(50% - 600px);
  bottom: 60px;
}

.mb-text p:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mb-text p:nth-of-type(1) span:nth-of-type(1) {
  font-family: 'Nanum Myeongjo', serif !important;
  font-size: 18px;
}

.mb-text p:nth-of-type(1) span:nth-of-type(2) {
  font-family: 'Nanum Myeongjo', serif !important;
  font-size: 14px;
  color: #62523f;
  margin-left: 8px;
  padding: 4px 10px;
  background-color: #f1e3c4;
}

.mb-text h4 {
  font-family: 'Nanum Myeongjo', serif !important;
  font-size: 36px;
  font-weight: 400;
  margin: 16px 0 24px 0;
  display: inline-block;
  position: relative;
}

.mb-text h4::after {
  content: '';
  border: 0.5px solid white;
  opacity: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.mb-text p:nth-of-type(2) {
  opacity: 80%;
}

.mb-text p:nth-of-type(2) span:nth-of-type(1) {
  margin-right: 20px;
  position: relative;
}

.mb-text p:nth-of-type(2) span:nth-of-type(1)::after {
  content: '';
  border: 0.5px solid white;
  opacity: 50%;
  height: 20px;
  position: absolute;
  right: -12px;
  bottom: 0;
}

.mb-text p:nth-of-type(2) span:nth-of-type(3) {
  font-size: 12px;
  padding: 8px 20px;
  border: 4px solid #f1e3c4;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.resurch {
  width: 1240px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.resurch .r2, .resurch .r3, .resurch .r4, .resurch .r5, .resurch .r6, .resurch .r7, .resurch .r8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.resurch p:nth-of-type(1) {
  margin-bottom: 10px;
  font-size: 12px;
  color: #adadad;
}

.resurch::after {
  content: '';
  width: 85%;
  opacity: 10%;
  border: 0.5px solid #3e2b2c;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.r1 {
  width: 240px;
}

.r1 p {
  position: relative;
}

.r1 p input {
  border: 0;
}

.r1 p img {
  width: 14px;
  position: absolute;
  right: 20px;
  top: 4px;
}

.r7 img, .r8 img {
  width: 12px;
  margin-left: 8px;
}

.r9 {
  width: 138px;
  height: 60px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 16px;
  background-color: #3e2b2c;
  cursor: pointer;
}

.line-banner {
  width: 1240px;
  height: 56px;
  margin: 40px auto;
  background-color: #f2f2f2;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.line-banner p {
  color: #4a433b;
  padding: 20px;
}

.line-banner a {
  position: relative;
}

.line-banner a > p {
  color: #856f56;
  position: relative;
  text-decoration: underline;
  margin-right: 16px;
}

.line-banner a::after {
  content: '>';
  color: #856f56;
  margin-left: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
}

section {
  text-align: center;
  margin: 48px auto;
}

section h5 {
  font-size: 30px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  margin-bottom: 30px;
  position: relative;
}

section h5::after {
  content: '';
  border: 1px solid #856f56;
  width: 100%;
  opacity: 50%;
  position: absolute;
  left: 0;
  bottom: -10px;
}

section p {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  text-transform: uppercase;
  color: #856f56;
}

.special-oppers {
  width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.special-oppers > div {
  margin-bottom: 100px;
  width: 100%;
  position: relative;
}

.special-oppers > div .so-1:hover img, .special-oppers > div > div > div:hover img {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.special-oppers > div > div:nth-of-type(2) {
  width: 792px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.special-oppers > div > div:nth-of-type(3) {
  width: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 0;
  top: 0;
}

.more {
  margin: 0 20px;
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 12px;
  color: #4a433b;
}

.more::after {
  content: '+';
  margin-left: 8px;
}

.so-1 {
  width: 792px;
  height: 360px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.so-1 a > span {
  width: 120px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #3e2b2c;
}

.so-1 p:nth-of-type(1) {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: 30px;
  bottom: 10%;
}

.so-1 p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-1 p:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
  margin: 10px 0;
}

.so-1 p:nth-of-type(1) span:nth-of-type(3) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-1 p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.so-2 {
  width: 386px;
  height: 100%;
  margin-top: 18px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.so-2 a > span {
  width: 120px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #3e2b2c;
}

.so-2 p:nth-of-type(1) {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: 30px;
  bottom: 10%;
}

.so-2 p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-2 p:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
  margin: 10px 0;
}

.so-2 p:nth-of-type(1) span:nth-of-type(3) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-2 p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.so-3 {
  width: 386px;
  height: 100%;
  margin-top: 18px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.so-3 a > span {
  width: 120px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #3e2b2c;
}

.so-3 p:nth-of-type(1) {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: 30px;
  bottom: 10%;
}

.so-3 p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-3 p:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
  margin: 10px 0;
}

.so-3 p:nth-of-type(1) span:nth-of-type(3) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-3 p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.so-4 {
  width: 100%;
  height: 260px;
  margin-bottom: 18px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.so-4 a > span {
  width: 120px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #3e2b2c;
}

.so-4 p:nth-of-type(1) {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: 30px;
  bottom: 10%;
}

.so-4 p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-4 p:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
  margin: 10px 0;
}

.so-4 p:nth-of-type(1) span:nth-of-type(3) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-4 p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.so-5 {
  width: 100%;
  height: 360px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.so-5 a > span {
  width: 120px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #3e2b2c;
}

.so-5 p:nth-of-type(1) {
  color: #3e2b2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  left: 30px;
  bottom: 10%;
}

.so-5 p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-5 p:nth-of-type(1) span:nth-of-type(2) {
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
  margin: 10px 0;
}

.so-5 p:nth-of-type(1) span:nth-of-type(3) {
  font-size: 12px;
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: bold;
}

.so-5 p:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.membership {
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 80px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.ms-1 {
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ms-1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ms-1 p {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ms-1 p span:nth-of-type(1) {
  font-size: 18px;
  color: #62523f;
}

.ms-1 p span:nth-of-type(2) {
  font-size: 12px;
  color: #856f56;
}

.ms-1 img {
  width: 54px;
  margin: 4px 8px;
}

.ms-2 {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.ms-2 span:nth-of-type(2) {
  color: #856f56;
  font-size: 12px;
  text-decoration: underline;
  position: absolute;
  left: 58%;
  top: 28px;
}

.ms-3 p:nth-of-type(1) {
  position: absolute;
  right: calc(50% - 500px);
  top: 45%;
}

.ms-3 p:nth-of-type(2) {
  color: white;
  font-size: 12px;
  background: #3e2b2c;
  padding: 10px;
  position: absolute;
  right: calc(50% - 500px);
  top: 70%;
}

.gallery {
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 16px;
}

.gallery iframe {
  display: inline-block;
  width: 100%;
  height: 676px;
}
/*# sourceMappingURL=index.css.map */